<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8">
    <title>
        <%= title%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="container">
    <header>
        <h1>
            <%= title %>
        </h1>
    </header>
    <div role="main">
        <p class="h6"><%- content %></p>
        <form method="post" action="/hello/post">
            <div class="form-group">
                <label for="msg">Message:</label>
                <input type="text" name="message" id="msg" class="form-control">
            </div>
            <input type="submit" value="é€ä¿¡" class="btn btn-primary">
        </form>
    </div>
</body>

</html>