<!DOCTYPE html>
<!-- 
__      _____ _    ___ ___  __  __ ___ 
\ \    / / __| |  / __/ _ \|  \/  | __|
 \ \/\/ /| _|| |_| (_| (_) | |\/| | _| 
  \_/\_/ |___|____\___\___/|_|  |_|___|
-->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/views/styles.css' />
</head>

<body>
  <div class="pt-6 space-y-4 bg-slate-100 rounded-xl p-8 dark:bg-slate-800 m-6">
    <p class="text-lg">“Tailwind CSS is the only framework that I've seen scale on large teams. It’s easy to customize,
      adapts to any design, and the build size is tiny.”</p>
  </div>

  </p>
</body>

</html>