<!DOCTYPE html>
<!-- 
__      _____ _    ___ ___  __  __ ___ 
\ \    / / __| |  / __/ _ \|  \/  | __|
 \ \/\/ /| _|| |_| (_| (_) | |\/| | _| 
  \_/\_/ |___|____\___\___/|_|  |_|___|
-->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/views/styles.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500..700&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <main
    class="flex flex-col items-center bg-[url('/img/bg.jpg')] h-screen bg-center bg-cover overflow-hidden px-2 py-8 text-primary-800 md:p-8">
    <div
      class="relative flex w-full max-w-2xl my-auto flex-col items-center justify-center rounded-xl backdrop-blur-xl bg-white/70 p-6 shadow-lg">
      <h1 class="text-3xl font-bold">KIT Message Board</h1>
    </div>
  </main>
</body>

</html>